[Unit]
Description=Node web server service

[Service]
TimeoutStartSec=0
KillMode=none

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull darcys22/webapp
ExecStart=/usr/bin/docker run --rm --name %n -p ${COREOS_PRIVATE_IPV4}:80:3000 darcys22/webapp
ExecStop=/usr/bin/docker stop -t 3 %n
