[Unit]
Description=Node web server service

[Service]
User=core

TimeoutStartSec=0
KillMode=none

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull darcys22/webapp
ExecStart=/usr/bin/docker run --rm --name %n -p ${COREOS_PRIVATE_IPV4}:80:3000 darcys22/webapp
ExecStartPost=/bin/bash -c 'etcdctl set /app/servers/%n "%n $(curl -sw "\n" http://169.254.169.254/metadata/v1/interfaces/private/0/ipv4/address):80"'
ExecStopPre=/usr/bin/docker kill %n
ExecStop=/usr/bin/docker stop -t 3 %n
ExecStopPost=/bin/bash -c 'etcdctl rm /app/servers/%n'


Restart=always
RestartSec=10s
